@use 'variables';

@mixin tamanos($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

/*  <-------------- DESKTOP -------------->*/

.contacto {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.div__formulario {
    width: 50vw;
}

.formulario {
    width: 50vw;
}

.imagen__contacto {
    width: 45vw;
}

#contact {
    width: 90%;
}

.form-group {
    padding: 15px 25px 15px 25px;
}

.titulo_contacto {
    font-size: 400;
    text-align: center;
    width: 100%;
}

#enviar_contacto {
    color: white;
    background: variables.$background_hea_foo;

    &:hover {
        color: variables.$header_font;
    }
}

.subtitulos {
    padding: 0px 0px 10px 0px;
    font-weight: bold;
}

/*  <-------------- MOBILE -------------->*/

@media screen and (max-width: 480px) {


    .contacto {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        @include tamanos(100%, 700px);
    }

    .div__formulario {
        width: 50%;
    }

    .formulario {
        width: 100%;
    }

    .imagen__contacto {
        @include tamanos(50%, 100%);

    }

    #contact {
        @include tamanos(100%, 500px);
        margin-top: 100px;
    }

    .form-group {
        padding: 15px 5px 15px 5px;
    }

    .titulo_contacto {
        font-size: 400;
        text-align: center;
        width: 100%;
    }

    #enviar_contacto {
        color: white;
        background: variables.$background_hea_foo;

        &:hover {
            color: variables.$header_font;
        }
    }

    .subtitulos {
        padding: 0px 0px 10px 0px;
        font-weight: bold;
    }

}