@use 'variables';

@mixin tamanos($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

/*  <-------------- DESKTOP -------------->*/
#image_question {
    @include tamanos(100%, 38vw);
    padding: 10px 10px 10px 10px;
}

.contenedor__image_question {
    width: 100%;
}

.contenedor_question_main {
    width: 100%;
}

.contenedor_preguntas {
    margin-left: 155px;
    margin-right: 150px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.accordion-button {
    border-color: variables.$background_hea_foo;
    display: block;
    font-weight: bold;
    font-size: 500;

    &:hover {
        background-color: variables.$background_hea_foo;
        ;
        color: white;
    }
}

.accordion-button:not(.collapsed) {
    color: white;
    background: variables.$background_hea_foo;
    border-color: variables.$background_hea_foo;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0%) invert(70%);
}

.accordion-button:focus {
    box-shadow: inherit;
}

.titulo_preguntas {
    font-size: 150%;
    margin-bottom: 20px;
}

.accordion {
    box-shadow: 0 8px 18px 0 variables.$background_hea_foo;
    border-radius: 10px;
}

.accordion-body {
    background-color: wheat;
    font-size: 700;
}

/*  <-------------- MOBILE -------------->*/

@media screen and (max-width: 480px) {

    #image_question {
        @include tamanos(100%, 100%);
        padding: 10px 10px 10px 10px;
    }

    .contenedor__image_question {
        width: 100%;
        height: 300px;
    }

    .contenedor_question_main {
        width: 100%;
    }

    .contenedor_preguntas {
        margin-left: 25px;
        margin-right: 30px;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .accordion-button {
        border-color: variables.$background_hea_foo;
        display: block;

        &:hover {
            background-color: variables.$background_hea_foo;
            ;
            color: white;
        }
    }

    .accordion-button:not(.collapsed) {
        color: white;
        background: variables.$background_hea_foo;
        border-color: variables.$background_hea_foo;

    }

    .accordion-button:not(.collapsed)::after {
        filter: brightness(0%) invert(70%);
    }

    .accordion-button:focus {
        box-shadow: inherit;
    }


    .accordion {
        box-shadow: 0 8px 18px 0 variables.$background_hea_foo;
        border-radius: 10px;
    }

    .accordion-body {
        background-color: wheat;
        font-size: 700;
    }

    .titulo_preguntas {
        font-size: 150%;
        margin-bottom: 20px;
    }
}