@use 'variables';
@use 'index';
@use 'footer';
@use 'header';
@use 'tienda';
@use 'contacto';
@use 'pregunta';
@use 'servicios';

/*  <-------------- DESKTOP -------------->*/
* {
	margin: 0;
	padding: 0;
}

#grid_container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: "header"
		"main"
		"footer";
}

header {
	grid-area: header;
}

main {
	grid-area: main;
	display: grid;
	grid-template-rows: 1fr, 1fr, 1fr, 1fr;
}

footer {
	grid-area: footer;
	width: 100%;
	display: flex;
	background-color: variables.$background_hea_foo;
	color: variables.$font_color;
}

/*  <-------------- MOBILE -------------->*/
@media screen and (max-width: 480px) {
	#grid_container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas: "header "
			"main "
			"footer ";
	}

	header {
		grid-area: header;
	}

	main {
		grid-area: main;
		width: 100%;
	}

	footer {
		grid-area: footer;
		width: 100%;
		grid-template-columns: 1fr, 1fr, 1fr;
		display: flex;
		background-color: variables.$background_hea_foo;
		color: variables.$font_color;
	}
}